<div class="flexCards">
{{#each hpObj}}
    <div class="card">
    <img src="{{this.image}}" class="card-media" />
    <div class="card-details">
        <h2 class="card-head">{{this.name}}</h2>
        <p>{{this.house}}</p>
        <a href="/{{this.id}}" class="card-action-button">Details</a>
    </div>
    </div>
{{/each}}
</div>
